<div
    #panel
    class=""
>
    <!-- <div class="border-surface-200 flex items-center justify-between h-20">

        <span class="font-semibold text-xl">
            Загрузить список городов (csv)
        </span>

        <div class="flex">
            <button
                pButton
                pRipple
                (click)="onClose()"
                type="button"
                icon="pi pi-times"
                class="rounded-full p-button-text p-button-secondary"
            ></button>
        </div>

    </div> -->


    <p-fileupload
        #uploader
        name="files"
        auto="false"
        fileLimit="1"
        customUpload="true"
        invalidFileSizeMessageSummary="Файл слишком большой."
        invalidFileSizeMessageDetail="Максимальный размер файла 1MB."
        url="/"
        [multiple]="false"
        accept="text/csv"
        maxFileSize="1000000"
        (onSelect)="onSelectedFile($event)"
    >
        <ng-template
            #header
            let-files
            let-chooseCallback="chooseCallback"
            let-clearCallback="clearCallback"
            let-uploadCallback="uploadCallback"
        >
        </ng-template>
        <ng-template
            #content
            let-files
            let-uploadedFiles="uploadedFiles"
            let-removeFileCallback="removeFileCallback"
            let-removeUploadedFileCallback="removeUploadedFileCallback"
        >
            <div class="flex flex-col gap-8">
                <div *ngIf="files?.length > 0">
                    <div class="flex flex-wrap gap-2">
                        <div
                            *ngFor="let file of files; let i = index"
                            class="p-8 rounded-border flex flex-col border border-surface items-center gap-4"
                        >
                            <div>

                            </div>
                            <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{
                                file.name }}</span>
                            <div>{{ formatSize(file.size) }}</div>
                            <p-badge
                                value="Завершено"
                                severity="success"
                            />
                            <div class="flex items-center space-x-2">
                                <p-button
                                    icon="pi pi-times"
                                    (onClick)="onRemove($event, file, removeUploadedFileCallback, i)"
                                    [outlined]="true"
                                    pTooltip="Удалить"
                                    [rounded]="true"
                                    severity="danger"
                                ></p-button>
                                <p-button
                                    icon="pi pi-download"
                                    (onClick)="onDownload($event, file)"
                                    pTooltip="Скачать"
                                    [outlined]="true"
                                    [rounded]="true"
                                    severity="success"
                                ></p-button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </ng-template>
        <ng-template #file></ng-template>
        <ng-template #empty>
            <div
                class="flex items-center justify-center flex-col"
                (click)="uploader.choose()"
            >
                <i class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"></i>
                <p class="!mt-6 mb-0">Перетащите файлы для загрузки.</p>
            </div>
        </ng-template>
    </p-fileupload>


</div>