:host ::ng-deep {
    .p-fileupload-content p-progressbar {
        display: none;
    }

    .p-fileupload-header {
        padding: 0;
    }
     .p-fileupload-content {
        padding: var(--p-fileupload-content-padding);
    }

    .p-fileupload-header button {
        display: none;
    }
}