<p-drawer
    [(visible)]="isVisible"
    (onHide)="onHide()"
    modal="false"
    appendTo=""
    styleClass="border-none p-drawer-bottom-append"
    position="bottom"
    showCloseIcon="false"
>
    <ng-template #header>
        <ng-container>
            <div class="flex items-center justify-between w-full mb-0 gap-2">
                <div class="text-900 text-xl font-semibold whitespace-nowrap">Город</div>
                <div class="flex items-center ml-auto">
                    <p-button
                        *ngIf="isSmallScreen"
                        class="text-xl"
                        [rounded]="true"
                        badgeSeverity="contrast"
                        (click)="toggleSideBar()"
                        size="large"
                        icon="pi pi-map"
                        [text]="true"
                    />

                    <p-button
                        class="text-xl ml-4"
                        [rounded]="true"
                        badgeSeverity="contrast"
                        size="large"
                        (click)="onClose()"
                        icon="pi pi-times"
                        [text]="true"
                    />
                </div>
            </div>
        </ng-container>
    </ng-template>
    <div class="grid">
        <div class="col-span-12 lg:col-span-12 h-full">
            <div class="grid grid-cols-12 gap-4">
                <ng-container *ngIf="data">
                    <div class="col-span-12">
                        <div class="flex justify-between items-center mb-3">
                            <span class="font-semibold">Название</span>
                            <span class="font-semibold">
                                {{item?.name ||'-'}}
                            </span>
                        </div>
                        <div class="flex justify-between items-center mb-3">
                            <span class="font-semibold">id </span>
                            <span class="font-semibold">
                                {{item?.id ||'-'}}
                            </span>
                        </div>

                        <div class="flex justify-between items-center mb-3">
                            <span class="font-semibold">Координаты центра</span>
                            <span
                                class="font-semibold"
                                style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 285px;"
                            > {{ item?.center?.[1] }}, {{ item?.center?.[0] }} </span>


                        </div>
                    </div>

                </ng-container>



            </div>
        </div>

    </div>
</p-drawer>

<p-drawer
    [(visible)]="isVisibleRoute"
    modal="false"
    appendTo=""
    styleClass="border-none p-drawer-bottom-append"
    position="bottom"
    showCloseIcon="true"
>
    <ng-template #header>
        <div class="flex align-center justify-between mb-0">
            <span class="text-900 text-xl font-semibold">Route</span>
        </div>
    </ng-template>

    <div>

    </div>

</p-drawer>