<div>
  <ng-container *ngIf="!noProgress">
    <div
      *ngIf="isSettings"
      class="flex h-[56px] flex-row items-center px-4 py-0 border-b border-surface flex items-center justify-between"
    >
      <p-button
        *ngIf="!visible"
        [text]="true"
        label=" Settings"
        icon="pi pi-sliders-h"
        (click)="onOpen()"
      />

      <div class="w-spacer">&nbsp;</div>
    </div>
  </ng-container>
  <p-drawer
    [(visible)]="visible"
    modal="false"
    appendTo=""
    styleClass="border-none p-drawer-bottom-append"
    position="bottom"
  >
    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-content-between mb-0">
        <span class="text-900 text-2xl block font-medium">Settings</span>
      </div>
    </ng-template>

    <div
      [formGroup]="form"
      class="gap-6 pt-1 pb-6 flex-wrap flex-1 flex flex-col"
    >
      <div class="flex flex-wrap justify-between gap-6">
        <label class="block font-semibold">Cities</label>
        <p-toggleswitch
          formControlName="isCities"
          inputId="route"
        />
      </div>

    </div>

  </p-drawer>

  <div class="flex items-center justify-between w-full mb-0 gap-2 p-6">
    <div class="text-900 text-xl font-semibold whitespace-nowrap">Города ({{count}})</div>
    <div class="flex items-center ml-auto">


      <p-button
        class="text-xl"
        [rounded]="true"
        pTooltip="Загрузить"
        badgeSeverity="contrast"
        (click)="onUpload()"
        size="large"
        icon="pi pi-cloud-upload"
        [text]="true"
      />

      <p-button
        *ngIf="isSmallScreen"
        class="text-xl"
        [rounded]="true"
        badgeSeverity="contrast"
        (click)="toggleSideBar()"
        size="large"
        icon="pi pi-map"
        [text]="true"
      />

      <p-selectbutton
        [options]="colorOptions"
        allowEmpty="false"
        [(ngModel)]="selectedColors"
        optionValue="value"
        [multiple]="true"
        (onChange)="onColorChange()"
      >
        <ng-template
          #item
          let-option
        >
          <span
            class="w-4 h-4 rounded-full block"
            [style.backgroundColor]="option.color"
          ></span>
        </ng-template>
      </p-selectbutton>
    </div>
  </div>



  <div class="p-4">

    <p-listbox
      [options]="filteredCities"
      [(ngModel)]="active"
      [checkmark]="true"
      metaKeySelection="true"
      [virtualScroll]="false"
      scrollHeight="80vh"
      [virtualScrollItemSize]="61"
      (onChange)="onChange($event)"
      [highlightOnSelect]="true"
      styleClass="border-none shadow-none"
      listStyleClass="max-h-60"
      class="w-full md:w-40"
    >
      <ng-template
        let-item
        #item
      >
        <div class="flex items-center justify-between w-full px-2 py-1">
          <div
            class="flex items-center space-x-2  min-w-0"
            pTooltip="{{ item.name }}"
          >
            <span
              class="w-3 h-3 rounded-full"
              [style.backgroundColor]="item.color"
            ></span>
            <span class="font-bold truncate max-w-[120px] sm:max-w-[135px]">
              {{ item.name }}
            </span>

            <span class="font-bold truncate max-w-[120px] sm:max-w-[135px] text-xs text-gray-500">
              {{ item.center?.[1] }}, {{ item.center?.[0] }}
            </span>
          </div>
          <i
            class="pi pi-angle-right text-base"
            style="font-size: 1.3rem"
          ></i>
        </div>
      </ng-template>

      <ng-template
        let-item
        #empty
      >
        <ng-container *ngFor="let _ of skeletons">
          <div class="w-full  pb-3.5">
            <p-skeleton
              styleClass="block w-full"
              [style]="{ height: '3.80rem' }"
            ></p-skeleton>
          </div>
        </ng-container>
      </ng-template>
    </p-listbox>
  </div>
</div>